.footer {
    background-color: var(--dark-2);
}

.footer__container {
    padding: 48px 19px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.footer__logo-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__block {
    width: calc(50% - 16px);
    color: var(--dark-6);
}

.footer__block b {
    display: block;
    font-family: "Syne", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 18px;
}

.footer__block a {
    display: block;
    color: var(--dark-6);
    text-decoration: none;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.2;
}

.footer__block a:last-child {
    margin-bottom: 0;
}

@media (min-width: 1158px) {

    .footer {
        padding: 64px 19px;
    }

    .footer__container {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
        gap: 32px;
        align-items: flex-start;
    }

    .footer__logo-link {
        width: fit-content;
        margin-right: auto;
    }

    .footer__block {
        width: 160px;
    }
}