.swiper {
    width: 100%;
}

.swiper-controls-container {
    max-width: 352px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 32px auto 48px;
}

.swiper-pagination {
    position: static;
}

.swiper-button-next,
.swiper-button-prev {
    position: static;
    background: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.swiper-button-next::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='26' viewBox='0 0 16 26' fill='none'%3E%3Cpath d='M1.27208 25L14 13L1.27208 0.999998' stroke='%23D9D9D9' stroke-width='2'/%3E%3C/svg%3E");
    width: 13px;
    height: 24px;
    background-size: cover;
    display: block;
}

.swiper-button-prev::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='26' viewBox='0 0 16 26' fill='none'%3E%3Cpath d='M1.27208 25L14 13L1.27208 0.999998' stroke='%23D9D9D9' stroke-width='2'/%3E%3C/svg%3E");
    width: 13px;
    height: 24px;
    background-size: cover;
    display: block;
    transform: rotate(180deg);
}

.swiper-pagination-bullet {
    margin: 0 12px;
    height: 12px;
    width: 12px;
    opacity: 1;
    background-color: var(--dark-3);
}

.swiper-pagination-bullet-active {
    background-color: var(--dark-8);
}


@media (min-width: 1158px) {
    .swiper-controls-container {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(50%);
        z-index: 4;
        width: 100%;
        max-width: unset;
        justify-content: space-between;
    }
}