:root {
    --dark-1: rgba(18, 18, 18, 1);
    --dark-2: rgba(40, 40, 40, 1);
    --dark-3: rgba(65, 65, 65, 1);
    --dark-6: rgba(138, 138, 138, 1);
    --dark-8: rgba(217, 217, 217, 1);
    --white: rgba(255, 255, 255, 1);
    --b-l-c: rgba(169, 37, 43, 1);
    --b-l-h: rgba(191, 94, 83, 1);
    --b-l-s: rgba(180, 69, 63, 1);
    --b-d-c: rgba(201, 117, 104, 1);
    --b-d-h: rgba(222, 164, 151, 1);
    --b-d-s: rgba(212, 141, 128, 1);
}